stages:
  - build
  - build-using-builldkit
  - deploy

variables:
  REGISTRY: reg.serabass.kz

#####################################################

.build:
  stage: build
  retry: 2
  image: docker:29.1.3
  needs: []
  script:
    - docker info
    - docker buildx bake $APP --allow security.insecure --push
  variables:
    DOCKER_HOST: tcp://dind:2375
  tags:
    - lite


.build-using-builldkit:
  stage: build-using-builldkit
  retry: 2
  image: docker:29.1.3
  needs: []
  before_script:
    - |
      if ! docker buildx inspect kube >/dev/null 2>&1; then
        docker buildx create --bootstrap --use --name=kube --driver=kubernetes --driver-opt=namespace=devops,replicas=1 || true
      else
        docker buildx use kube || true
      fi
      docker buildx inspect kube
  script:
    - docker info
    - docker buildx bake $APP --allow security.insecure --push --builder kube --provenance=false --sbom=false
  variables:
    DOCKER_HOST: tcp://dind:2375
  tags:
    - lite

#####################################################

build-server-using-builldkit:
  extends: .build-using-builldkit
  variables:
    APP: server
